::selection {
  background: #9733EE;
}

h1 {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 0.8rem;
}

h4 {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}

.header > .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .list {
  display: flex;
}

.navigation .list-item {
  padding-left: 30px;
}

.list-item:hover {
  text-shadow: 1px 0 0 currentColor;
}




/* hero */
.hero > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.hero h2 {
  min-width: 312px;
  margin-bottom: 24px;
}


/* work */
.cases-list {
  padding: 48px 0px;
}

.case-item .case-content {
  flex: 1;
}

.case-item h3 {
  padding: 12px 0px 8px 0px;
  font-weight: bold;
}
.case-item .case-image {
  flex: 2;
}

.case-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 40px 0px;
}

.case-item .case-title {
  margin-bottom: 8px;
}

.case-item .case-description {
  padding: 24px 40px 24px 0px;
}



/* about */
.about ::selection {
  background: #0D0D0D;
}

.about {
  background-color: #0D0D0D;
  color: #F0F0F0;
  padding: 80px 0px 56px 0px;
}

.about-role {
  padding: 2px 0px 0px 0px;
}

.about-title {
  margin-bottom: 56px;
}

.about-description {
  margin-bottom: 56px;
}

.about-text {
  max-width: 600px;
  font-weight: normal;
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.xp,
.edu {
  min-width: 300px;
}

.xp-item {
  padding-bottom: 24px;
}

.institute {
  display: block;
  font-weight: bold;
  color: #F0F0F0;
}


/* footer */
.footer {
  padding: 56px 0px 56px 0px;
  color: #F0F0F0;
  background-color: #0D0D0D;
}

.footer h2 {
  font-size: 1.8rem;
  text-transform: none;
  font-weight: bold;
  margin: 0px 0px 32px 0px;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}

.resume-btn {
  font-size: 0.8rem;
  color: #F0F0F0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #F0F0F0;
  padding: 12px;
  border-radius: 3px;
}

.resume-btn:hover {
  color: #0D0D0D;
  background-color: #F0F0F0;
}

.resume-btn i {
  padding-left: 8px;
  font-size: 1rem;
  font-weight: normal;
}


.contact-btn {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact-btn:hover {
  color: #9733EE;
}

.contact-btn i {
  opacity: 0;
  padding-left: 8px;
  font-size: 1.6rem;
  position: relative;
  top: 5px;
}

.contact-btn:hover i {
  opacity: 1;
}

.email {
  font-size: 0.8rem;
  padding-top: 32px;
  opacity: 0.5;
}


.hr {
  margin: 40px 0px;
  opacity: 0.5;
}

.footer-name {
  font-size: 0.8rem;
  font-weight: lighter;
  opacity: 0.5;
}

.btns-links {
  display: flex;
  font-weight: lighter;
}

.social-list {
  display: flex;
}

.social-item {
  opacity: 0.5;
  padding-left: 30px;
  font-size: 1.6rem;
}

.social-item:hover {
  color: #9733EE;
}


/* helpers */
.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0px 24px;
}

.btn {
  color: #9733EE;
  border: 1px solid #9733EE;
  font-weight: 600;
  border-radius: 3px;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 12px 12px 20px;
}

.btn-left {
  padding: 12px 20px 12px 6px;
}

.btn:hover {
  background-color: #9733EE;
  color: #F0F0F0;
}

.btn ::selection {
  background: #0D0D0D;
}

.btn i {
  padding: 12px;
  font-size: 1.6rem;
  position: relative;
  top: 5px;
}

.date {
  font-size: 0.8rem;
  line-height: 1.5;
}


/* media query */
@media (max-width: 760px) {
  .cases-list > .container {
    border: 1px solid rgba(13, 13, 13, .1);
    border-radius: 3px;
    padding: 32px 32px 48px 32px;
    margin: 0px 24px 56px 24px;
  }
  .case-item {
    flex-direction: column;
    margin: 0;
  }
  .case-item .case-image {
    order: -1;
    margin-bottom: 24px;
  }
  .cases-list {
    padding: 0;
  }
  .about {
    padding-top: 56px;
  }
  .about-title {
    margin-bottom: 40px;
  }
}
