body {
  font-family: Open Sans;
  color: #0D0D0D;
  background-color: #F0F0F0;
}

::selection {
  background: #9733EE;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

h2 {
  font-size: 2rem;
  line-height: 1.3;
}

h3 {
  font-size: 0.9rem;
}

h4 {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: normal;
}


/* navbar */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.header > .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation .list {
  display: flex;
}

.navigation .list-item:not(:last-child) {
  margin-right: 30px;
}


/* hero */
.hero > .container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.hero h2 {
  margin-bottom: 24px;
}


/* work */
.cases-list {
  padding: 48px 0px;
}

.case-item .case-content {
  flex: 1;
}

.case-item h3 {
  padding: 12px 0px 8px 0px;
  font-weight: bold;
}
.case-item .case-image {
  flex: 2;
}

.case-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 40px 0px;
}

.case-item .case-title {
  margin-bottom: 8px;
}

.case-item .case-description {
  padding: 24px 40px 24px 0px;
}


/* about */
.about ::selection {
  background: #0D0D0D;
}

.about {
  background-color: #9733EE;
  color: #F0F0F0;
  padding: 80px 0px 56px 0px;
}


.about-role {
  padding: 2px 0px 0px 0px;
}

.about-title {
  margin-bottom: 56px;
}

.about-description {
  margin-bottom: 56px;
}

.about-text {
  max-width: 600px;
  font-weight: normal;
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
}

.xp,
.edu {
  min-width: 300px;
}

.xp-item {
  padding-bottom: 24px;
}

.institute {
  display: block;
  font-weight: bold;
  color: #F0F0F0;
}


/* footer */
.footer {
  padding: 56px 0px 56px 0px;
  color: #F0F0F0;
  background-color: #0D0D0D;
}

.footer h2 {
  font-size: 1.75rem;
  text-transform: none;
  font-weight: bold;
  margin: 0px 0px 24px 0px;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.btns-link a {
  font-size: 0.75rem;
  margin-right: 12px;
  color: #F0F0F0;
  border-color: #F0F0F0;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.email {
  font-size: 0.9rem;
  padding-top: 12px;
}

.hr {
  margin: 40px 0px;
  opacity: 0.1;
}

.footer-name {
  font-size: 0.9rem;
  font-weight: lighter;
}

.btns-links {
  display: flex;
  font-weight: lighter;
}

.social-list {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 30px;
}


/* helpers */
.bold {
  font-weight: 700;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
}

.btn {
  color: #9733EE;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 12px;
  letter-spacing: 1px;
  border: 1px solid #9733EE;
  border-radius: 3px;
  display: inline-block;
}

.btn ::selection {
  background: #0D0D0D;
}

.date {
  font-size: 0.75rem;
  line-height: 1.5;
}
